a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px;
}

body {
    font-family: 'Roboto';
}
.benefits-section{
    display: flex;
}
.hero-section{
    display: flex;
}
.work-section{
    display: flex;
}
.team-section{
    display: flex;
}
.end-footer{
    display: flex;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    color: #000305;
    justify-content: center;
    margin-left: 215px;
}

.logo-color {
    color: #2196F3
}

.header-page {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    color: #212121;
    justify-content: center;
    margin-left: 93;
    margin-right: 94px;
}

header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-list:first-child {
    margin-left: 400px;
    margin-right: 93px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36px;
    justify-content: center;
    margin-left: 452px;
    margin-right: 452px;
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16px;
    justify-content: center;
    margin-left: 617;
}

.header-link {
    font-weight: 400;
    width: 122px;
    justify-content: center;
    color: #757575;
}

.card-studio {
    font-weight: 500;
    color: #2196F3;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8px;
    margin-left: 724px;
    margin-right: 724px;
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7px;
    justify-content: center;
    margin-right: 30px;
    margin-left: 215px;
}

.footer-adrees {
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
}

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    justify-content: center;
    margin-left: 30px;
    margin-right: 215px;
}

.team-text {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18px;
}

.team-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18px;
    justify-content: center;
}

.work-chest {
    justify-content: center;
    margin-left: 21px;
    margin-right: 1.42px;
}

.team-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18px;
    text-align: center;
    letter-spacing: 0.03em;

    justify-content: center;
}

.end-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    color: #000305;


}

.end-adrees {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
}

.end-link {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
}

.team-item {
    justify-content: center;
    margin-left: 21px;
    margin-right: 1.42px;
}

.Foter-colorlogo {
    color: #2196F3;
}