a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px;
    padding-inline-start: 0px;
    padding: 0px;
}

header {
    display: flex;
    padding-bottom: 0px;
}

body {
    font-family: 'Roboto';
}


.benefits-section {
    display: flex
}


.hero-section {
    display: flex;
    justify-content: center;
}

.team-section {
    display: flex
}



.benefits-section {
    display: flex;
    justify-content: center;


}

.end-footer {

    background: #2F303A;
    padding-left: 215px;
}

.adress {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo-page{
    display: flex;

}

.page {
    display: flex;
    align-items: center;
}

.benefits {
    margin-top: 94px;
    display: flex;
}

.work {
    display: flex;
}

.team {
    display: flex;
}

.header-container {
    display: flex;
    align-items: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


.container {
    display: flex;
    align-items: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container2 {
    align-items: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}



.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000305;
    justify-content: center;
    margin-left: 215px;
}

.logo-color {
    color: #2196F3
}

.header-page {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
    justify-content: center;
    margin-left: 93;
    margin-right: 94px;
}

.header-page:hover {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #2196F3;
    justify-content: center;
    margin-left: 93;
    margin-right: 94px;
}

header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-list:first-child {
    margin-left: 400px;
    margin-right: 93px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin-left: 452px;
    margin-right: 452px;
    color: #FFFFFF;
}

.hero-section {
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 280px;
    padding-left: 452px;
    padding-right: 452px;
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    justify-content: center;
    margin-left: 617;
}
.work-item{
    margin-right: 30px;
}

.header-link {
    font-weight: 400;
    width: 122px;
    justify-content: center;
    color: #757575;
}

.header-link:hover {
    font-weight: 400;
    width: 122px;
    justify-content: center;
    color: #2196F3;
}

.card-studio {
    font-weight: 500;
    color: #2196F3;
}

.hero-button {
    margin-left: 724px;
    margin-right: 724px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    color: #FFFFFF;
    background: #2196F3;
    padding:10px 24px;
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    justify-content: center;
    margin-right: 30px;
    margin-left: 215px;
}

.footer-adrees {
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    justify-content: center;
    margin-left: 215px;
    margin-right: 30px;
}

.team-text {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    justify-content: center;
}

.work-chest {
    justify-content: center;
    margin-left: 21px;
    margin-right: 1.42;
}

.team-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    justify-content: center;
}

.end-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000305;
}

.end-adrees {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #757575;
}

.end-link {
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #757575;
}

.end-link:hover {
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #2196F3;
}



.team-item {
    justify-content: center;
    margin-left: 21px;
    margin-right: 1.42px;
}

.Foter-colorlogo {
    font-family: 'Raleway';
    font-weight: 700;
    color: #2196F3;
}

.portfolio-conteiner {
    align-items: center;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.hero-portfolio-button {
    margin-left: 517px;
    margin-right: 55px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #2196F3;
}

.hero-portfolio-button2 {
    margin-bottom: 56px;
    margin-top: 136px;
    margin-right: 57px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}

.work-portfolio-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.work-portfolio-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}


.work-iteam-portfolio{
    margin-bottom: 140px;
    margin-left: 215px;
    margin-right: 30px;
}
.work-portfolio{
    display: flex;
    flex-wrap: wrap;
    
}